body{
    width:100%;
    height:100vh;
    background-color:red;
}
header{
    height:10%;
    width:100%;
    display:flex;
    background-color:EE7836;
}

header h1{
font-family: Archivo Black;
font-style: normal;
font-weight: normal;
font-size: 100px;
line-height: 39px;
text-align: center;

color: #FFFFFF;
}

div#map{
    height:80%;
    background-color:white;

}

nav{
    display:flex;
    height:10%;
    width:100%;
    background-color:EE7836;
}

nav li{
    text-align: center;
    width: 25%;
    color: #FFFFFF
}

.fas{
    font-size:100px;
    color:FFFFFF;
}