extends layout

block content
  p(id="msg") !{content}
  input(type='text', name="number", id="num")
  input(type="submit", value="GET!", id="btn")

  script(src="https://unpkg.com/axios/dist/axios.min.js")
  script.
    const btn = document.getElementById("btn");
    const txt = document.getElementById("num");
    const msg = document.getElementById("msg");
    btn.addEventListener("click", ()=>
    {
      const n = txt.value;
      axios.get('http://localhost:3000/ajax/' + n).then(res => 
      {
        console.log(res.data);
        const mes = '<table>'
                          + '<tr><th>名前</th>'
                          + '<td>'+ res.data.name +'</td></tr>'
                          + '<tr><th>年齢</th>'
                          + '<td>'+ res.data.age +'</td></tr>'
                          + '<tr><th>メール</th>'
                          + '<td>'+ res.data.mail +'</td></tr>'
                          + '</table>';
        msg.innerHTML = mes;
      });
    });