body{
    width:100%;
    height:100vh;
    background-image: url(background-image.jpg);
    background-size:270% 110%;
    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode: lighten;
    display: flex;
    flex-flow: column;
    /*min-height: 100vh;*/
}
header{
    width:100%;
    height:10%;
    display:flex;
    background-color: #EE7836;
}
.chat-title{
    
    margin-top:30px;
    margin-left:13%;
    height:150px;
    width:700px;


    
    background: #FFFFFF;
    border: 3px solid #EE7836;
    box-sizing: border-box;
    border-radius: 26px;
}

.data{
    margin-left:20px;
    
    font-size:40px;
}

.title{
    font-size: 50px;
    margin-left:20px;
    margin-top:5px;
}

footer{
    width:100%;
    height:10%;
    display:flex;
    background-color: #EE7836;
    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
}

.input_field{
    height:50px;
    width:480px;
    zoom:165%;
    position: relative;
    left:94px;
    /*top:860px;*/
    top:778px;
    border: 3px #EE7836 solid;   /* 枠線を引く */
    border-radius: 20px;      /* 角丸の指定 */
    font-size: 20px;
    
}

.msg_submit i{
    font-size: 55px;
    color:#EE7836;
    position: relative;
    left:60px;
    top:1296px;
}

.pin i{
    font-size:100px;
    color:#EE7836;
    position: relative;
    top:1170px;
    left:40px;
}

.good i{
    font-size:200px;
    color:#EE7836;
    position: relative;
    top:850px;
    left:750px;
}