body{
    width:100%;
    height:100vh;
    background-image: url(image/background-image.jpg);
    background-size:270% 110%;
    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode: lighten;
    display: flex;
    flex-flow: column;
    /*min-height: 100vh;*/
}
header{
    width:100%;
    height:10%;
    display:flex;
    /*background-color: #EE7836;*/
}
.chat-title{
    
    margin-top:30px;
    margin-left:3%;
    height:80px;
    width:400px;
    zoom:230%;



    
    background: #FFFFFF;
    border: 3.5px solid #EE7836;
    box-sizing: border-box;
    border-radius: 26px;
}

.data{
    font-size: 22px;
    margin-left:20px;
    
    
}

.title{
    font-size:25px;
    text-align: center;
    margin-left:20px;
    margin-top:1px;
}

footer{
    width:100%;
    height:10%;
    display:flex;
    /*background-color: #EE7836;*/
    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
}

#input_field{
    height:50px;
    width:480px;
    zoom:165%;
    position: relative;
    left:94px;
    /*top:860px;*/
    top:778px;
    border: 3px #EE7836 solid;   /* 枠線を引く */
    border-radius: 20px;      /* 角丸の指定 */
    font-size: 30px;
    
}

.msg_submit i{
    font-size: 55px;
    color:#EE7836;
    position: relative;
    left:60px;
    top:1260px;
}

.msg_title{
    height:40px;
    width:450px;
    zoom:180%;
    font-size:30px;
    text-align: center;
    
    position: absolute;
    left:80px;
    top:120px;


    
    background: #FFFFFF;
    border: 3.5px #EE7836 solid;   /* 枠線を引く */
    border-radius: 20px;      /* 角丸の指定 */

}



.pin i{
    font-size:100px;
    color:#EE7836;
    position: absolute;
    top:1430px;
    left:40px;
}

.good i{
    font-size:200px;
    color:#EE7836;
    position: absolute;
    top:1250px;
    left:750px;
}

.return i{
    font-size:100px;
    position: absolute;
    top:200px;
    left:20px;
}

.return a{
    color:black;
}

.msg_box{
    margin-top:20px;
    max-width: 100%;
    font-size:16px;
}

.msg_content{
    padding:20px;
}

.other{
    float: left;
}

.other .msg_box{
    height:40px;
    width:450px;
    zoom:180%;
    background:white;
    border: 3.5px #EE7836 solid;   /* 枠線を引く */
    border-radius: 20px;      /* 角丸の指定 */
}



.right{
    margin-right: 10px;
    margin-left:150px;
    margin-top:80px;
    width: 800px;
    align-items: baseline;
    display: inline-block;
    display:flex;
    white-space: pre-wrap;
    position: relative;
    
}

.image_right{
    height: 80px;
    width: 80px;
    
    background-color: black;
    position: relative;
    top:30px;
    
}

.text_right{
    height: auto;
    width: 800px;
    font-size: 40px;
    margin-right:20px;
    padding: 20px 20px;
    background-color: #EE7836;
    border: 4.5px white solid;
    border-radius: 50px; 
    color:white;
    
}

.left{
    /*width: 500px;*/
    margin-top:80px;
    margin-left:30px;
    display: inline-block;
    display: flex;
    

}

.image_left{
    height: 80px;
    width: 80px;
    position: relative;
    top:10px;
}

.text_left{
    font-size: 40px;
    white-space: pre-wrap;
    margin-left: 20px;
    padding: 20px 20px;
    background:white;
    border: 3.5px #EE7836 solid;
    border-radius: 50px;
    list-style-position: inside;
}

.msg_submit input{
    font-size: 55px;
    color:#EE7836;
    position: relative;
    left:60px;
    top:1260px;
}

